# CONFIG_MTD is not set
# CONFIG_LUA is not set
CONFIG_UPDATE_STATE_CHOICE_BOOTLOADER=y
CONFIG_HASH_VERIFY=y
CONFIG_SURICATTA=y
CONFIG_SURICATTA_SSL=y
CONFIG_WEBSERVER=y
CONFIG_DISKPART=y
CONFIG_RAW=y
CONFIG_SHELLSCRIPTHANDLER=y
